# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
/dmweb-backend/node_modules/
.flowconfig
/cypress/integration/examples/
.vscode/launch.json
.vscode/
src/Server/bin/Server.exe
src/Server/datastore.json
pkg/
src/Server/bin/
src/other/firebaseConfig.js
src/firebaseConfig.js
.firebase/
firebase-debug.log
.firebase/hosting.YnVpbGQ.cache
*.cache
serviceAccount.json
.env
cypress.env.json
cypress/videos/
cypress/screenshots/

