.CharacterEditor {
     background-color: pink;
     color: #09d3ac;
     max-width: inherit;
 }
.GridContainer {
}
.root {
    background-color: black;
    min-height: 100vh;
    position: absolute;
    top: 0;
    min-width: 100vh;
    display: flex;
    flex-direction: column;

}
.Container {
    background-color: darkgray;
    padding: 0.5rem;
    border-radius: 0.8rem;
}
.Container ul {
    list-style-type: none;
}
