.header {
    display: inline;
    background-color: rebeccapurple;
}
.header ul {
    list-style-type: none;
}
.ListElement {
    display: inline;
    text-decoration: none;
}
.LinkContainer a {
    text-decoration: none;
    font-size: 1.5rem;
    display: inline-block;
    margin: 2em;
    padding: 1rem;
    color: white;
    background-color: darkgray;
    border-radius: 1rem;
}
.LinkContainer * * a :hover{
    background-color: darkmagenta;
    border-radius: 0.8rem;
}